# Git ignore - JS/HTML/CSS - Mateusz Gorka

# Pliki srodowiska
linecounter.*
*.code-workspace

# Dokumentacja
*/doc/*.dia

# Inne pliki
*.zip
*~

# Tymczasowe i lokalne
**/_tmp*
**/_local*
*.lnk

# Listy danych i wyjsca
g
# Pliki z poufnymi danymi